[submodule "MicMac/micmac"]
	path = MicMac/micmac
	url = https://github.com/micmacIGN/micmac.git
[submodule "orthomosaic"]
	path = orthomosaic
	url = https://github.com/alexhagiopol/orthomosaic.git
[submodule "DroneMosaic/DroneMosaic/zAI"]
	path = DroneMosaic/DroneMosaic/zAI
	url = https://github.com/BiometricVox/zAI
